#root {
  height: 100vh;
  /* max-width: 100%; */
  /* justify-content: center; */
  /* align-items: center; */
  height: 100vh;
  background-image: url(https://i.imgur.com/3ocYD4J.png);
  background-size: cover;
  font-family: 'Caprasimo', serif;
  color: white;
}

.delete-giftee-btn {
  font: 'Caprasimo';
  font-family: 20px, 'Caprasimo', serif;
  color: white;
  height: auto;
  width: 10rem;
  background-color: #921224;
  border-color: white;
}

.edit-giftee-btn {
  font: 'Caprasimo';
  font-family: 20px, 'Caprasimo', serif;
  color: white;
  height: auto;
  width: 10rem;
  background-color: #243A73;
  border-color: white;
}

.gift-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: right;
  align-content: center;
  height: 200px;
}

.li-display1 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}

.li-display2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
  padding: 3px;
}

.form-input {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
  padding: 2px;
  margin-left: 5px;
  width: 100%;
}

.gift-ideas-btn {
  font: 'Caprasimo';
  font-family: 20px, 'Caprasimo', serif;
  color: white;
  background-color: transparent;
  height: 2.5rem;
  width: 10rem;
  border-radius: 10px;
  border-color: white;
  background-color: #105E62;

}

.gift-ideas-btn {
  font: 'Caprasimo';
  font-family: 20px, 'Caprasimo', serif;
  color: white;
  background-color: transparent;
  border-color: white;
}

/* .giftee-info,
li {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-right: 50%;
  padding: 20px;
  font-size: 20px;

} */

.giftee-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 50%;
  padding: 20px;
  font-size: 20px;
  text-align: center;

}

.gift-idea-container {
  min-width: 100;
  max-width: 100;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 45%;
  padding: 20px;
  font-size: 20px;
  text-align: center;


}



.homepage-container {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.auth-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;

}

.homeClass {
  font-family: 'Caprasimo', serif;
  color: white;
  text-decoration: none;
  margin: 20px;
  font-weight: bold;
  font-size: 20px;
}

.gifteeClass {
  font-family: 'Caprasimo', serif;
  color: white;
  text-decoration: none;
  margin: 20px;
  font-size: 20px;
}

.loginClass {
  font-family: 'Caprasimo', serif;
  color: white;
  text-decoration: none;
  margin: 20px;
  font-size: 20px;
}

.logoutClass {
  font-family: 'Caprasimo', serif;
  color: white;
  text-decoration: none;
  margin: 20px;
  font-size: 20px;
}

.nav-link-container {
  justify-content: center;
}

.nav-contained {
  align-items: center;
}

.create-giftee-btn {
  font-family: 20px, 'Caprasimo', serif;
  color: white;
  background-color: transparent;
  border-color: white;
}

.create-btn {
  font: 'Caprasimo';
  font-family: 20px, 'Caprasimo', serif;
  color: white;
  background-color: transparent;
  border-color: white;
  border-width: 3.5px;
  padding: 10px 60px;
  border-radius: 15px;
  margin: 10px 0px;
  display: flex;
  justify-content: stretch;
  flex-basis: content;
}

.submit-btn {
  font-family: 20px, 'Caprasimo', 'serif';
  color: white;
  background-color: transparent;
  border-color: white;
}

.edit-btn {
  font-family: 20px, 'Caprasimo', 'serif';
  color: white;
  background-color: transparent;
  border-color: white;
}

.edit-giftee-btn {
  font-family: 20px, 'Caprasimo', 'serif';
  color: white;
  background-color: light;
  border-color: white;
}



/* .img {
  height: 100vh;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(https://i.imgur.com/3ocYD4J.png);
  background-size: cover;

} */