.homeClass {
  font-family: 'Caprasimo', serif;
  color: white;
  text-decoration: none;
  margin: 20px;
  font-weight: bold;
  font-size: 20px;
}

.gifteeClass {
  font-family: 'Caprasimo', serif;
  color: white;
  text-decoration: none;
  margin: 20px;
  font-size: 20px;
}

.loginClass {
  font-family: 'Caprasimo', serif;
  color: white;
  text-decoration: none;
  margin: 20px;
  font-size: 20px;
}

.logoutClass {
  font-family: 'Caprasimo', serif;
  color: white;
  text-decoration: none;
  margin: 20px;
  font-size: 20px;
}

.nav-link-container {
  justify-content: center;
}

.nav-contained {
  align-items: center;
}

h2,
label {
  font-family: 'Caprasimo', serif;
}

button {
  font-family: 'Caprasimo', serif;
}

/* .img {
  height: 100vh;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(https://i.imgur.com/3ocYD4J.png);
  background-size: cover;

} */